<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="icon" type="image/x-icon" href="https://flatironschool-static.s3.amazonaws.com/favicons/favicon.ico">
	<title>Acme Credit</title>
</head>

<body>
	<div class="container">
		<%= yield %>
		<footer>
  		<p>&copy;2017 Acme Credit Corp. All Rights Reserved.</p>
		</footer>
	</div>
</body>
</html>
