<!DOCTYPE html>
<html>
<head>
	<title>Acme Credit</title>
  <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
	<%= yield %>
</body>
<footer>
  <p>&copy;2017 Acme Credit Corp. All Rights Reserved.</p>
</footer>
</html>
